Repository swsnu/swpp2020-team6, pull requests merged in 2020-11, with the labels that each got.

#26 Feature/sprint3 models
  backend/comment/models.py
  backend/roadmap/migrations/0004_auto_20201107_0652.py
  backend/roadmap/migrations/0005_auto_20201108_1811.py
  backend/roadmap/migrations/0006_remove_roadmap_sections.py
  backend/roadmap/models.py
  backend/roadmap/views.py
  backend/section/migrations/0003_auto_20201108_1838.py
  backend/section/models.py
  backend/tag/models.py
  backend/task/migrations/0003_auto_20201108_1838.py
  backend/task/models.py
  backend/utils/model_to_dict.py
Labels: Sprint3, backend

#57 Feature/like
  frontend/.eslintrc.js
  frontend/package.json
  frontend/src/App.test.js
  frontend/src/containers/CreateRoadmap/CreateRoadmap.js
  frontend/src/containers/EditRoadmap/EditRoadmap.js
  frontend/src/containers/RoadmapDetail/RoadmapButtons.js
  frontend/src/containers/RoadmapDetail/RoadmapDetail.js
  frontend/src/store/actions/roadmap.js
  frontend/src/store/actions/roadmap.test.js
  frontend/src/store/reducers/roadmap.js
  frontend/src/store/reducers/roadmap.test.js
  frontend/src/store/reducers/user.js
  frontend/src/store/reducers/user.test.js
  frontend/yarn.lock
Labels: frontend

#58 Feature/pin
  frontend/package-lock.json
  frontend/src/containers/CreateRoadmap/CreateRoadmap.scss
  frontend/src/containers/EditRoadmap/EditRoadmap.scss
  frontend/src/containers/RoadmapDetail/RoadmapButtons.js
  frontend/src/containers/RoadmapDetail/RoadmapDetail.js
  frontend/src/containers/RoadmapDetail/RoadmapDetail.test.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/index.js
  frontend/src/store/actions/roadmap.js
  frontend/src/store/actions/roadmap.test.js
  frontend/src/store/actions/user.js
  frontend/src/store/reducers/roadmap.js
  frontend/src/store/reducers/roadmap.test.js
  frontend/src/store/reducers/user.js
  frontend/src/store/reducers/user.test.js
  frontend/yarn.lock
Labels: frontend

#60 test: actions, reducers
  frontend/.eslintrc.js
  frontend/src/App.js
  frontend/src/containers/CreateRoadmap/CreateRoadmap.js
  frontend/src/containers/CreateRoadmap/CreateRoadmap.test.js
  frontend/src/containers/EditRoadmap/EditRoadmap.js
  frontend/src/containers/EditRoadmap/EditRoadmap.test.js
  frontend/src/containers/Home/Home.js
  frontend/src/containers/RoadmapDetail/RoadmapButtons.js
  frontend/src/containers/RoadmapDetail/RoadmapDetail.js
  frontend/src/containers/SignIn/SignIn.js
  frontend/src/containers/SignUp/SignUp.js
  frontend/src/store/actions/roadmap.js
  frontend/src/store/actions/roadmap.test.js
  frontend/src/store/actions/user.test.js
  frontend/src/store/reducers/user.test.js
  frontend/yarn.lock
Labels: backend, frontend

#65 Feature: roadmap - private, description
  backend/roadmap/migrations/0008_auto_20201119_0343.py
  backend/roadmap/models.py
  backend/roadmap/tests.py
  backend/roadmap/views.py
  frontend/.eslintrc.js
  frontend/package.json
  frontend/src/components/CreateSection/CreateSection.js
  frontend/src/components/CreateSection/CreateSection.scss
  frontend/src/components/CreateTask/CreateTask.js
  frontend/src/components/CreateTask/CreateTask.scss
  frontend/src/containers/CreateRoadmap/CreateRoadmap.js
  frontend/src/containers/CreateRoadmap/CreateRoadmap.scss
  frontend/src/containers/CreateRoadmap/CreateRoadmap.test.js
  frontend/src/containers/EditRoadmap/EditRoadmap.js
  frontend/src/containers/EditRoadmap/EditRoadmap.scss
  frontend/src/containers/EditRoadmap/EditRoadmap.test.js
  frontend/src/containers/Roadmap/Roadmap.js
  frontend/src/containers/Roadmap/Roadmap.scss
  frontend/src/store/actions/user.test.js
  frontend/yarn.lock
Labels: backend, frontend

#69 refactor: Create/Edit Roadmap test
  frontend/src/containers/CreateRoadmap/CreateRoadmap.test.js
  frontend/src/containers/EditRoadmap/EditRoadmap.test.js
Labels: frontend

#71 feat: mypage backend
  backend/user/models.py
  backend/user/tests.py
  backend/user/urls.py
  backend/user/views.py
  frontend/src/store/actions/roadmap.js
Labels: backend

#77 Feature: mypage frontend
  frontend/.eslintrc.js
  frontend/src/App.js
  frontend/src/containers/CreateRoadmap/CreateRoadmap.js
  frontend/src/containers/CreateRoadmap/CreateRoadmap.test.js
  frontend/src/containers/EditRoadmap/EditRoadmap.js
  frontend/src/containers/EditRoadmap/EditRoadmap.test.js
  frontend/src/containers/MyPage/MyPage.js
  frontend/src/containers/MyPage/MyPage.test.js
  frontend/src/containers/Roadmap/Roadmap.js
  frontend/src/misc/rotus-img.png
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/index.js
  frontend/src/store/actions/roadmap.js
  frontend/src/store/actions/user.js
  frontend/src/store/actions/user.test.js
  frontend/src/store/reducers/user.js
  frontend/src/store/reducers/user.test.js
Labels: frontend

#84 [Design] Mypage, Create/EditRoadmap design
  frontend/package.json
  frontend/src/App.css
  frontend/src/components/CreateSection/CreateSection.js
  frontend/src/components/CreateSection/CreateSection.scss
  frontend/src/components/CreateTask/CreateTask.js
  frontend/src/components/CreateTask/CreateTask.scss
  frontend/src/components/MyPage/StyledComponents/MyTab.js
  frontend/src/components/Roadmap/StyledComponents/StyledSelect.js
  frontend/src/constants.js
  frontend/src/containers/CreateRoadmap/CreateRoadmap.js
  frontend/src/containers/CreateRoadmap/CreateRoadmap.test.js
  frontend/src/containers/EditRoadmap/EditRoadmap.js
  frontend/src/containers/EditRoadmap/EditRoadmap.test.js
  frontend/src/containers/MyPage/MyPage.js
  frontend/src/containers/MyPage/MyPage.scss
  frontend/src/containers/MyPage/MyPage.test.js
  frontend/src/containers/Roadmap/Roadmap.js
  frontend/src/containers/Roadmap/Roadmap.scss
  frontend/src/css/basic.scss
  frontend/src/css/mypage.scss
  frontend/src/css/roadmap.scss
  frontend/src/index.css
  frontend/yarn.lock
Labels: frontend

#89 Feature/search
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/components/RoadmapSimple/RoadmapSimple.js
  frontend/src/constants.js
  frontend/src/containers/CreateRoadmap/CreateRoadmap.test.js
  frontend/src/containers/EditRoadmap/EditRoadmap.test.js
  frontend/src/containers/MyPage/MyPage.test.js
  frontend/src/containers/RoadmapDetail/RoadmapDetail.test.js
  frontend/src/containers/SearchResult/SearchResult.js
  frontend/src/containers/SearchResult/SearchResult.test.js
  frontend/src/containers/SignIn/SignIn.js
  frontend/src/containers/SignIn/SignIn.test.js
  frontend/src/containers/SignUp/SignUp.js
  frontend/src/containers/SignUp/SignUp.test.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/index.js
  frontend/src/store/actions/roadmap.test.js
  frontend/src/store/actions/search.js
  frontend/src/store/actions/search.test.js
  frontend/src/store/actions/user.js
  frontend/src/store/reducers/search.js
  frontend/src/store/reducers/search.test.js
  frontend/src/store/store.js
  frontend/src/test-utils/mocks.js
  frontend/yarn.lock
Labels: frontend

#86 [Feature] Create/EditRoadmap collapse
  frontend/src/components/CreateSection/CreateSection.js
  frontend/src/components/CreateSection/CreateSection.scss
  frontend/src/components/CreateTask/CreateTask.js
  frontend/src/components/CreateTask/CreateTask.scss
  frontend/src/components/Roadmap/StyledComponents/StyledSelect.js
  frontend/src/containers/EditRoadmap/EditRoadmap.test.js
  frontend/src/containers/MyPage/MyPage.scss
  frontend/src/containers/Roadmap/Roadmap.js
  frontend/src/containers/Roadmap/Roadmap.scss
  frontend/src/css/basic.scss
  frontend/src/css/mypage.scss
  frontend/src/css/roadmap.scss
  frontend/src/index.css
Labels: frontend

#87 Feature/home
  backend/roadmap/views.py
  frontend/jsconfig.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/RoadmapDetail/Section.scss
  frontend/src/components/RoadmapDetail/Task.scss
  frontend/src/components/RoadmapSimple/RoadmapSimple.js
  frontend/src/components/SimpleRoadmap/SimpleRoadmap.js
  frontend/src/components/SimpleRoadmap/SimpleRoadmap.scss
  frontend/src/components/SimpleRoadmap/SimpleRoadmap.test.js
  frontend/src/containers/Home/Home.js
  frontend/src/containers/MainPage/MainPage.js
  frontend/src/containers/MainPage/MainPage.scss
  frontend/src/containers/MainPage/MainPage.test.js
  frontend/src/containers/MainPage/RoadmapCarousel.js
  frontend/src/containers/MainPage/RoadmapCarousel.scss
  frontend/src/containers/MainPage/RoadmapCarousel.test.js
  frontend/src/containers/RoadmapDetail/RoadmapButtons.js
  frontend/src/containers/RoadmapDetail/RoadmapDetail.test.js
  frontend/src/misc/1.png
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/index.js
  frontend/src/store/actions/roadmap.js
  frontend/src/store/actions/roadmap.test.js
  frontend/src/store/reducers/roadmap.js
  frontend/src/store/reducers/roadmap.test.js
  frontend/yarn.lock
Labels: backend, frontend

#90 Feature/mypage
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.scss
  frontend/src/components/SimpleRoadmap/SimpleRoadmap.js
  frontend/src/components/SimpleRoadmap/SimpleRoadmap.scss
  frontend/src/containers/CreateRoadmap/CreateRoadmap.scss
  frontend/src/containers/EditRoadmap/EditRoadmap.scss
  frontend/src/containers/MainPage/MainPage.js
  frontend/src/containers/MainPage/MainPage.scss
  frontend/src/containers/MainPage/RoadmapCarousel.scss
  frontend/src/containers/MyPage/MyPage.js
  frontend/src/containers/MyPage/MyPage.scss
  frontend/src/containers/MyPage/MyPage.test.js
  frontend/src/containers/Roadmap/Roadmap.js
  frontend/src/containers/Roadmap/Roadmap.scss
  frontend/src/containers/RoadmapDetail/RoadmapDetail.css
  frontend/src/containers/RoadmapDetail/RoadmapDetail.js
  frontend/src/containers/RoadmapDetail/RoadmapDetail.scss
  frontend/src/containers/RoadmapDetail/RoadmapDetail.test.js
  frontend/src/index.js
  frontend/src/index.scss
Labels: backend, frontend
